Ans1. Assumptions of of ANOVA are as follows:-
1.Normality of Sampling Distribution of Mean.
The distribution of sample mean is normally distributed.
2. Absence of outliers
Outlyinf score needs to be removed from the dataside.
3. Homogenity of Variance
POpulation variance in different levels of each independent variable are equal.
4. Samples are independent and random.

Ans2. Types of anova
1. One way Anova:-One factor with atleast 2 levels these levels are independent.
2. Repeated Measures Anova;-One factor atleast 2 levels are dependent.
3. Factorial Anova:-Two or more factors,2 levels can be independent and dependent.

ANS3 The partitioning of variance in Anova first of all you will set null hypothesis and alternative hypothesis
and find the f value fvalue=variance between samples/variance within samples and compare it with the F table value

Ans6,,The null hpothesis is accepted.

Ans7..We can will mean of the data to fill the missing value in annova.

Ans8...If the p-value from the ANOVA is less than the significance level, we can reject the null hypothesis and conclude that we have sufficient evidence to say that at least one of the means of the groups is different from the others.

However, this doesn’t tell us which groups are different from each other. It simply tells us that not all of the group means are equal.

In order to find out exactly which groups are different from each other, we must conduct a post hoc test (also known as a multiple comparison test), which will allow us to explore the difference between multiple group means while also controlling for the family-wise error rate.Tukey’s Test – useful when you want to make every possible pairwise comparison

Holm’s Method – a slightly more conservative test compared to Tukey’s Test

Dunnett’s Correction – useful when you want to compare every group mean to a control mean, and you’re not interested in comparing the treatment means with one another.
Tukey’s Test – useful when you want to make every possible pairwise comparison

Holm’s Method – a slightly more conservative test compared to Tukey’s Test

Dunnett’s Correction – useful when you want to compare every group mean to a control mean, and you’re not interested in comparing the treatment means with one another.

Ans9..

In [3]:
import numpy as np
import pandas as pd

In [1]:
import pingouin as pg

In [3]:
pip install pingouin

Collecting pingouin
  Downloading pingouin-0.5.3-py3-none-any.whl (198 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 198.6/198.6 kB 2.3 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: statsmodels>=0.13 in /opt/conda/lib/python3.10/site-packages (from pingouin) (0.13.5)
Requirement already satisfied: seaborn>=0.11 in /opt/conda/lib/python3.10/site-packages (from pingouin) (0.12.1)
Collecting outdated
  Downloading outdated-0.2.2-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: pandas>=1.0 in /opt/conda/lib/python3.10/site-packages (from pingouin) (1.5.2)
Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.10/site-packages (from pingouin) (1.2.0)
Requirement already satisfied: scipy>=1.7 in /opt/conda/lib/python3.10/site-packages (from pingouin) (1.9.3)
Collecting pandas-flavor>=0.2.0
  Downloading pandas_flavor-0.5.0-py3-none-any.whl (7.1 kB)
Collecting tabulate
  Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Requirement already satisfied: matplotlib>=3.0.2 in /opt/conda/lib/python3.10/site-packages (from pingouin) (3.6.2)
Requirement already satisfied: numpy>=1.19 in /opt/conda/lib/python3.10/site-packages (from pingouin) (1.23.5)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib>=3.0.2->pingouin) (1.0.6)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.10/site-packages (from matplotlib>=3.0.2->pingouin) (22.0)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib>=3.0.2->pingouin) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.10/site-packages (from matplotlib>=3.0.2->pingouin) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in /opt/conda/lib/python3.10/site-packages (from matplotlib>=3.0.2->pingouin) (9.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib>=3.0.2->pingouin) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.10/site-packages (from matplotlib>=3.0.2->pingouin) (4.38.0)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.10/site-packages (from matplotlib>=3.0.2->pingouin) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas>=1.0->pingouin) (2022.6)
Collecting lazy-loader>=0.1
  Downloading lazy_loader-0.1-py3-none-any.whl (8.6 kB)
Collecting xarray
  Downloading xarray-2023.2.0-py3-none-any.whl (975 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 975.8/975.8 kB 5.1 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: patsy>=0.5.2 in /opt/conda/lib/python3.10/site-packages (from statsmodels>=0.13->pingouin) (0.5.3)
Requirement already satisfied: requests in /opt/conda/lib/python3.10/site-packages (from outdated->pingouin) (2.28.1)
Collecting littleutils
  Downloading littleutils-0.2.2.tar.gz (6.6 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: setuptools>=44 in /opt/conda/lib/python3.10/site-packages (from outdated->pingouin) (65.5.1)
Requirement already satisfied: joblib>=1.1.1 in /opt/conda/lib/python3.10/site-packages (from scikit-learn->pingouin) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.10/site-packages (from scikit-learn->pingouin) (3.1.0)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from patsy>=0.5.2->statsmodels>=0.13->pingouin) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.10/site-packages (from requests->outdated->pingouin) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.10/site-packages (from requests->outdated->pingouin) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/conda/lib/python3.10/site-packages (from requests->outdated->pingouin) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.10/site-packages (from requests->outdated->pingouin) (1.26.13)
Building wheels for collected packages: littleutils
  Building wheel for littleutils (setup.py) ... done
  Created wheel for littleutils: filename=littleutils-0.2.2-py3-none-any.whl size=7028 sha256=c8d9e2d7507257f2293432448c342bf773b06b5a51fd91953cd7a6bd4d6c0be5
  Stored in directory: /home/jovyan/.cache/pip/wheels/e0/3b/9c/d55ff5bc6cfbe70537c4731a22f2ee2462c2e5010b56ac9726
Successfully built littleutils
Installing collected packages: littleutils, tabulate, lazy-loader, outdated, xarray, pandas-flavor, pingouin
Successfully installed lazy-loader-0.1 littleutils-0.2.2 outdated-0.2.2 pandas-flavor-0.5.0 pingouin-0.5.3 tabulate-0.9.0 xarray-2023.2.0
Note: you may need to restart the kernel to use updated packages.

In [8]:
###Ans9
df=pd.read_csv("Book1.csv")

In [9]:
df.head()

   S.N  Weight_loss Diet
0    1           10    A
1    2            2    B
2    3            5    C
3    4            6    A
4    5            7    B

In [10]:
av = pg.anova(df,dv='Weight_loss',between='Diet',detailed='True')
print(av)

   Source          SS  DF        MS         F     p-unc       np2
0    Diet    3.507302   2  1.753651  0.357713  0.701161  0.014994
1  Within  230.412698  47  4.902398       NaN       NaN       NaN

The null hyphothesis is accepted that means there is no significance difference between the mean weight loss.

Ans10

In [12]:
df1=pd.read_csv('Book2.csv')

In [13]:
df1.head()

   S.NO  Time Program   Experience
0     1     5       A  Experienced
1     2     5       B       Novice
2     3     6       C  Experienced
3     4     8       A       Novice
4     5     8       B  Experienced

In [15]:
av = pg.anova(dv='Time',between=['Program','Experience'],data=df1,detailed=True)

In [16]:
print(av)

                 Source         SS  DF         MS         F     p-unc  \
0               Program   3.466667   2   1.733333  0.670968  0.520544
1            Experience   0.133333   1   0.133333  0.051613  0.822204
2  Program * Experience  29.866667   2  14.933333  5.780645  0.008929
3              Residual  62.000000  24   2.583333       NaN       NaN

        np2
0  0.052953
1  0.002146
2  0.325109
3       NaN

Their is interation effects between program and Experience

Ans11

In [27]:
df3=pd.read_csv('Book6.csv')

In [28]:
df3.head()

   S.NO  SALES RETAIL
0     1     85      A
1     2     85      B
2     3     96      C
3     4     85      A
4     5     85      B

In [31]:
av2=pg.anova(data=df3,dv='SALES',between='RETAIL',detailed=True)

SyntaxError: positional argument follows keyword argument (1853755796.py, line 1)