In [1]:
a=10

In [2]:
a="c"

In [3]:
tyoe(a)

NameError: name 'tyoe' is not defined

In [4]:
type(a)

str

In [6]:
int()

0

In [7]:
int(abcd)

NameError: name 'abcd' is not defined

In [8]:
print("hello world")

hello world

In [9]:
print(123)

123

In [10]:
age=32
print("MY age is :,",age)

MY age is :, 32

In [11]:
print(f"my age is :{age}")

my age is :32

In [12]:
##format()
name="neeraj"
age="32"
print("my name is {} and age is {}".format(name,age))

my name is neeraj and age is 32

In [14]:
##format()
name="neeraj"
age="32"
print("my name is {firstname} and age is {firstage}".format(firstname=name,firstage=age))

my name is neeraj and age is 32

In [16]:
name="neeraj binwal"
age="27"
degree="BTEch"
print(f"my name is {name} and my age is {age} and my degree{degree}")

my name is neeraj binwal and my age is 27 and my degreeBTEch

In [18]:
print("my name is {firstname}and age is {firstage} and degree{mydegree}".format(firstname=name,firstage=age,mydegree=degree))

my name is neeraj binwaland age is 27 and degreeBTEch

In [ ]:
##control flow
###Decesion making statements

In [20]:
#3
age=17
if age<18:
    print("you are not eligible to vote")

you are not eligible to vote

In [22]:
input()

 neeraj binwal

'neeraj binwal'

In [24]:
name=input("Enter the name")

Enter the name neeraj binwal

In [25]:
name

'neeraj binwal'

In [27]:
age=int(input("enter your age"))

enter your age 27

In [28]:
age

27

In [ ]:
####take input of check weather age >=18 and age<=45 if age>18 display a messafe you are 
young blood

In [30]:
age=int(input("please enter your age"))
if age>=18 and age <=45:
    print("you are young blood")

please enter your age 22

you are young blood

In [31]:
age=int(input("please enter your age"))
if age>=18 and age <=45:
    print("you are young blood")

please enter your age 55

In [32]:
age=int(input("please enter your age"))
if age>=18 and age <=45:
    print("you are young blood")
else:
    print("Thankyou you we will let you know")

please enter your age 55

Thankyou you we will let you know

In [ ]:
##mall----10%
##product>1000 rs 20% off
### product prize
##product<=1000 30% off
### product prize

In [38]:
product_prize=int(input("please enter the cost of the product"))
if product_prize>1000:
    print(f"The product prize is {product_prize-product_prize*0.2}")
else:
    print(f"The price of the procut is {product_prize*0.7}")

please enter the cost of the product 10

The price of the procut is 7.0

In [47]:
prize= int(input("please enter your prize"))
if prize>3000:
    if prize==4000:
        print("you will get a goa trip")
    print(f"The price of the product is {prize*0.8}")
elif prize>=2000 and prize<=3000:
    print(f"The price of the product{prize*0.7}")
    if prize==2999:
        print("congo you get a additional prize")
else:
    print(f"The price of the product is {prize*0.6}")

please enter your prize 4000

you will get a goa trip
The price of the product is 3200.0

In [49]:
####single statement 
val=int(input("enter the number"))
if val<=999:print("value is less than equal to 999")

enter the number 700

value is less than equal to 999

In [52]:
#while loop
joining_age=25
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
else:
    print("its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
its time for retirement

In [53]:
##### Atm machine with 1000 rupee
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("Put more money")

1000
900
800
700
600
500
400
300
200
100
Put more money

In [ ]:
## for loop

In [59]:
list1 = ["neeraj","apple","banana"]

In [60]:
for x in list1:
    print(x)

neeraj
apple
banana

In [64]:
fruits_list =  ["mango","cherry","banana","papaya"]

In [66]:
for a in fruits_list:
    print(a)
    if a=="cherry":
        print("The fruits is cherry")
        break

mango
cherry
The fruits is cherry

In [72]:
fruit= "mango"
for x in fruit:
    print(x,end="")

mango

In [71]:
fruit[3]

'g'

In [ ]:
#####nested loops 
n=7

In [77]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [79]:
###nested loops
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [ ]:
### loop control
###Break and countinue
fruits_list=["mango","cherry","Banana","apple"]

In [88]:
for i in fruits_list:
    if i=="cherry":
        print("The fruit is cherry")
        break
    print(i)

mango
The fruit is cherry

In [12]:
##format()
name="neeraj"
age="32"
print("my name is {} and age is {}".format(name,age))

my name is neeraj and age is 32