Ans1...In ordinal encoding ranks are given to categorical data.In label encoding categorical data is given a numerical value without any value.I will choose ordinal data when we have data which must be compared and label ecoding will be used when data will be such which has no comparison.

Ans2,,,,Target data is done when when one type of categorical data is given a value correspoding to mean,mode etc which it has in some other values.

Ans3,,,,Covariance is a metric used in statistics and probability theory to measure the degree to which two variables are linearly associated.1 It is used informally as a general measure of how monotonically related two variables are, and can be calculated using the covariance equation to determine the direction of the relationship between two variablesâ€”in other words, whether they tend to move in the same or opposite directions.

Ans4....

In [1]:
import pandas as pd

In [5]:
df=pd.DataFrame({"color":["red","green","blue"],"size":["small","medium","large"],"material":["wood","metal","plastic"]})

In [6]:
df

   color    size material
0    red   small     wood
1  green  medium    metal
2   blue   large  plastic

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
label_encoder=LabelEncoder()

In [17]:
color_encode=label_encoder.fit_transform(df[['color']])

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [18]:
size_encode=label_encoder.fit_transform(df[['size']])

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [21]:
material_encode=label_encoder.fit_transform(df[['material']])

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [22]:
material_encode

array([2, 0, 1])

Ans5:

In [27]:
df1=pd.DataFrame({"Age":[45,25,28],"Income":[12000,45000,96000],"Education":["PG","grad","Phd"]})

In [28]:
df1

   Age  Income Education
0   45   12000        PG
1   25   45000      grad
2   28   96000       Phd

In [39]:
import numpy as np

In [43]:
data=np.array(df1)

In [46]:
cov_matrix=pd.DataFrame.cov(df1)

/tmp/ipykernel_111/4275495732.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  cov_matrix=pd.DataFrame.cov(df1)

In [47]:
print(cov_matrix)

                  Age        Income
Age        116.333333 -3.225000e+05
Income -322500.000000  1.791000e+09

Ans6,,,,,We will use ordinal encoding for this dataset.

Ans7

In [50]:
temperature=[25,26,45]

In [51]:
humidity=[45,25,19]

In [52]:
covariance=np.cov(temperature,humidity)

In [53]:
covariance

array([[ 127.        , -109.        ],
       [-109.        ,  185.33333333]])

In [54]:
Weather=["Sunny","Cloudy","Rainy"]

In [55]:
Wind_Dirextion=["North","South","East","West"]

In [56]:
covariance1=np.cov[Weather,Wind_Dirextion]

TypeError: 'function' object is not subscriptable