In [19]:
import pandas as pd

Ans1.

In [46]:
df1=pd.Series([4,8,15,16,23,42])

In [47]:
df1

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
type(df1)

pandas.core.series.Series

Ans 2

In [6]:
list = ['a','b','c','d','e','f','g','h','i','j']

In [7]:
df2=pd.Series(list)

In [8]:
df2

0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
8    i
9    j
dtype: object

Ans4

In [20]:
df3=pd.DataFrame({"Name":["Alice","Bob","Claire"],"Age":["25","30","27"],"Gender":["Female","Male","Female"]})

In [21]:
df3

     Name Age  Gender
0   Alice  25  Female
1     Bob  30    Male
2  Claire  27  Female

Ans 4

A dataframe can hold number of columns but series can hold number of rows but has a single column.lets see with the help

In [14]:
df4=pd.DataFrame({"Name":["A","B","C","D"],"Age":[12,25,35,56],"Marks":[45,89,85,96]})

In [15]:
df4

  Name  Age  Marks
0    A   12     45
1    B   25     89
2    C   35     85
3    D   56     96

df4 is a dataframe which has 3 number of rows

In [16]:
df5=pd.Series([1,2,5,6,8])

In [17]:
df5

0    1
1    2
2    5
3    6
4    8
dtype: int64

Ans5 I have used some common python function.

In [32]:
df7= pd.Series([1.2,3,4,5,6,7,8,9,10,11,12])

In [33]:
df7

0      1.2
1      3.0
2      4.0
3      5.0
4      6.0
5      7.0
6      8.0
7      9.0
8     10.0
9     11.0
10    12.0
dtype: float64

In [34]:
df7.head()

0    1.2
1    3.0
2    4.0
3    5.0
4    6.0
dtype: float64

In [35]:
df7.tail()

6      8.0
7      9.0
8     10.0
9     11.0
10    12.0
dtype: float64

In [36]:
df7.describe()

count    11.000000
mean      6.927273
std       3.443571
min       1.200000
25%       4.500000
50%       7.000000
75%       9.500000
max      12.000000
dtype: float64

In [40]:
df7.dtypes

dtype('float64')

In [42]:
df4.columns

Index(['Name', 'Age', 'Marks'], dtype='object')

Ans6

Dataframe and panel are mutable

In [ ]:
Ans 7

In [52]:
df8=pd.Series(["Students","B","C","D","E"])

In [53]:
df9=pd.Series(["percentage","45","96","85","96"])

In [58]:
df10=pd.concat([df8,df9],axis=1)

In [59]:
df10

          0           1
0  Students  percentage
1         B          45
2         C          96
3         D          85
4         E          96

In [60]:
type(df10)

pandas.core.frame.DataFrame